
.sidenav {
    height: 100%;
    min-width: 50px;
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--nav-main-color);
    overflow: visible;
    padding-top: 60px;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: 4px 2px 5px 1px var(--nav-secondary-color);
}

.settings-div {
    bottom: 0;
    left: 0;
    padding-left: 3px;
    padding-right: 3px;
}

.settings-button {
    aspect-ratio: 1/1;
    height: 50px;
}