.note-display {
    padding-left: 75px;
    width: 100%;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
}

.note-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.note-display-element {
    font-size: 25px;
}
