.noteDisplay {
    margin-left: 75px;
    display: grid;
}

.noteList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.noteDisplayElement {
    font-size: 25px;
}

.searchDiv {
    margin: 0 auto;
}

.searchBar {
    width: 50%;
    display: inline-block;
}

.tagFilterOptions {
    margin: 0 auto;
    display: inline-block;
}

.tagFilterLabel {
    margin-right: 5px;
}