.note-hub {
    margin-left: 75px;
}

.note-editor {
    padding: 20px;
    display: flex;
}

textarea {
    background-color: var(--bg-color);
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    resize: none;
}

label {
    font-weight: bold;
    color: #FFFFFF;
}

.p-container {
    background-color: #4a4e69;
    border: .5px solid var(--nav-main-color);
    box-shadow: 3px 3px 0px 2px var(--nav-main-color);
    border-radius: 8px;
}

.editor.prop-side {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
}

.editor.text-side {
    float: left;
    margin-left: 10px;
    max-height: 230px;
}

.tag-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag {
    margin-top: 10px;
}

.note-viewer {
    padding: 20px;
    display: flex;
}

.viewer {
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    /*width: fit-content;*/
}

.button-container {
    margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
