.creatingButtonsDiv {
    height: 50px;
    margin-left: 75px;
    margin-top: 10px;
    display: inline-block;
}

.createNoteDiv {
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
    display: inline-block;
}

.registerButtonsDiv {
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
    display: inline-block;
    float: right;
}

.createNoteButtonDiv {
    top: 0;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    float: right;
}

.create-button {
    position: relative;
    background-color: #7F737D;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.create-button:after {
    background-clip: padding-box;
    background-color: #9A8C98;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.create-button:focus {
    user-select: auto;
}

.create-button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.create-button:disabled {
    cursor: auto;
}

.create-button:active:after {
    border-width: 0 0 0px;
}

.create-button:active {
    padding-bottom: 10px;
}

.add-user, .remove-user {
    aspect-ratio: 1/1;
    margin-left: 3px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-user {
    background-color: #68ad32;
}

.remove-user {
    background-color: #ee192b;
}
