:root {
    --nav-main-color: #22223B;
    --nav-secondary-color: #1C1C31;
    --button-main-color: #9A8C98;
    --button-secondary-color: #7F737D;
    --bg-color: #F2E9E4;
    --note-main-color: #4A4E69;
}

html, body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--nav-main-color);
}

::-webkit-scrollbar-thumb {
    background: var(--button-main-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-secondary-color);
}

input[type=text] {
    border-radius: 8px;
    background-color: var(--bg-color);
    border-style: solid;
    border-color: var(--note-main-color);
}

input[type=search] {
    margin-left: 1.5em;
    width: 300px;
    border-radius: 8px;
    background-color: var(--bg-color);
    border-style: solid;
    border-color: var(--button-secondary-color);
}

h2 {
    color: #FFFFFF;
    letter-spacing: .8px;
    line-height: 25px;
    margin-top: 14px;
}

h6 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin-top: 14px;
}

hr {
    margin-left:75px;
    width: 90%;
}

body {
    background-color: #8e9aaf;
}

.main-container {
    background-color: #8e9aaf;
    height: 100vh;
}

.top-nav {
    top: 0;
    position: sticky;
    background-color: var(--nav-main-color);
    box-shadow: 0 -4px 4px 7px var(--nav-secondary-color);
    height: 70px;
    overflow: auto;
}